* {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
}

body {
	background-color: rgb(240, 236, 223);
}

header {
	width: 100%;
}
nav {
	width: 100%;
}

.header {
	overflow: hidden;
}

audio {
	display: block;
	border-radius: 20px;
	margin: 0 auto;
}

.progressor {
	width: 1000px;
	height: 20px;
	background: grey;
}

.progressor-progress {
	background: rgb(57, 57, 65);
	background: linear-gradient(
		90deg,
		rgb(19, 19, 107) 0%,
		rgba(9, 9, 121, 1) 53%,
		rgba(0, 101, 247, 1) 100%
	);
	width: 97.5839%;
	height: 100%;
	position: absolute;
	top: 0px;
	z-index: -1;
}

.modal-dialog {
	position: absolute;
	top: 50px;
	right: 100px;
	bottom: 0;
	left: 0;
	z-index: 10040;
	overflow: auto;
	overflow-y: auto;
}

.custom-file-label::after {
	content: "Buscar";
	cursor: pointer;
}

button:disabled {
	cursor: auto;
}

.disabled {
	cursor: auto;
}

tbody tr:hover {
	background-color: lightblue;
}

.activeRow {
	background-color: #126a8a;
	color: white;
}

.activeRow:hover {
	background-color: #169aca;
	color: white;
}
