* {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
}

body {
	background-color: rgb(240, 236, 223);
}

header {
	width: 100%;
}
nav {
	width: 100%;
}
.progressor {
	width: 1000px;
	height: 20px;
	background: grey;
}

.progressor-progress {
	background: rgb(57, 57, 65);
	background: linear-gradient(
		90deg,
		rgba(57, 57, 65, 1) 0%,
		rgba(9, 9, 121, 1) 53%,
		rgba(0, 101, 247, 1) 100%
	);
}

.modal-dialog {
	position: absolute;
	top: 50px;
	right: 100px;
	bottom: 0;
	left: 0;
	z-index: 10040;
	overflow: auto;
	overflow-y: auto;
}

button:disabled {
	cursor: auto;
}

tr:hover {
	background-color: lightblue;
}

.activeRow {
	background-color: #126a8a;
	color: white;
}

.activeRow:hover {
	background-color: #169aca;
	color: white;
}
